@font-face {
    font-family: "OldTyperNrRegular";
    src: url("src/OldTyperNr Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: rgb(228, 228, 228);
    overflow: hidden;
    
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* scene */ 
.scene {
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(#a6d8ff, #ffffff, #ffffff ); 
    z-index: 0;
}

.dark .scene {
    background: linear-gradient(to bottom, #074ea5, #0A2342);
}

.scene__sun {
    z-index: -2;
}

.scene__sun,
.scene__sun-phantom {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 60%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 50px #ffffff;
    /* cursor: pointer; */
    transition: 0.3s;
    user-select: none;
    animation: animateSun 15s ease infinite;
}

.scene__sun-phantom {
    background-color: transparent;
    opacity: 0;
    box-shadow: none;
    cursor: pointer;
    transition: 0.3s;
    z-index: 20;
}

@keyframes animateSun {
    0% {
        top: 100px;
        left: 60%;
    }

    96% {
        top: 100px;
        left: 60%;
    }

    97% {
        top: 80px;
    }

    98% {
        top: 100px;
        left: 30%;
    }

    99% {
        top: 90px;
    }

    100% {
        top: 100px;
        left: 60%;
    }
}

.dark .scene__sun,
.dark .scene__sun-phantom {
    left: 30%;
    transition: 0.3s;
    animation: animateSun-night 15s ease infinite;
}

@keyframes animateSun-night {
    0% {
        top: 100px;
        left: 30%;
    }

    96% {
        top: 100px;
        left: 30%;
    }

    97% {
        top: 80px;
    }

    98% {
        top: 100px;
        left: 60%;
    }

    99% {
        top: 90px;
    }

    100% {
        top: 100px;
        left: 30%;
    }
}

.dark .scene__sun {
    /* left: 45%; */
    background-color: transparent;
    background: radial-gradient(circle at 45% 15%, rgb(248, 255, 217), rgb(246, 255, 123));
    /* background-image: url('src/moon.svg'); */
    box-shadow: 0 0 100px #ffffff;
}

.scene__bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:173px;
    background: url('src/bg.svg');
    background-size: 861px;
    background-repeat: repeat-x;
    animation: animateBG 20s linear infinite;
}

.dark .scene__bg {
    background: url('src/bg-night.svg');
    background-size: 861px;
    background-repeat: repeat-x;
}

@keyframes animateBG {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 861px;
    }
}

.scene__car {
    position: absolute;
    max-width: 200px;
}

.scene__tower {
    position: absolute;
    max-width: 150px;
    left: -150px;
    bottom: 42px;
    z-index: -1;
    animation: car1 50s linear infinite;
}

.scene__tower--night {
    opacity: 0;
}

.dark .scene__tower--day {
    opacity: 0;
}

.dark .scene__tower--night {
    opacity: 1;;
}

@keyframes tower {
    0% {
        transform: translateX(0px);
    }
    90%, 100% {
        transform: translateX(calc(100vw + 150px));
    }
}

.scene__car--1 {
    left: -200px;
    bottom: 20px;
    z-index: 11;
    animation: car1 7s linear infinite;
}

@keyframes car1 {
    0% {
        transform: translateX(0px);
    }
    90%, 100% {
        transform: translateX(calc(100vw + 200px));
    }
}

.scene__car--2 {
    right: -200px;
    bottom: 55px;
    z-index:10;
    animation: car2 12s linear infinite;
}

@keyframes car2 {
    0% {
        transform: translateX(0px) rotateY(180deg);
    }
    90%, 100% {
        transform: translateX(calc(-100vw - 200px)) rotateY(180deg);
    }
}




.page-title {
    display: flex;
    width: 100%;
    margin: 0;
    
    justify-content: center;
    align-items: center;
    font-family: 'OldTyperNrRegular', serif;
    font-weight: 100;
    color: rgb(31 57 122);
    font-size: 32px;
    text-align: center;
    z-index: 15;
}

.page-title__typing {
    margin-left: 10px;
    min-height: 4%;
    position: relative;
    text-shadow: 0 0 30px #ffffff;
    display: block;
}

.page-title__typing:after {
    content: "";
    position: absolute;
    right: -5px;
    top: 5px;
    width: 2px;
    height: 80%;
    background-color: rgb(31 57 122);
}

.dark .page-title {
    color: #ffffff;
}

.dark .page-title__typing:after {
    background-color: #ffffff;
}

.page-title__typing--cursor:after {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
}

/* modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
}

.modal__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    min-height: 200px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    /* transition: 3s; */
    /* transition: .2s all ease-in-out; */
}

.modal__show {
    display: flex;
}

.modal__hide {
    display: none;
}

.modal__heart {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    animation: heart 3s linear infinite;
    background-color: transparent;
}

.modal__button:hover .modal__heart {
    animation: heart 1s linear infinite;
}

@keyframes heart {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.8);
    }
    45% {
        transform: scale(1);
    }
    48% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.8);
    }
    95% {
        transform: scale(1);
    }
    98% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.modal__button-text {
    text-transform: uppercase;
    color: #404040;
    opacity: 0.5;
}

.modal__button-text span {
    display: block;
}

.modal__button:focus .modal__heart {
    animation: heart-focus 3s linear;
}

@keyframes heart-focus {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(10);
    }
}


/* -------------------------------------- */

@media (min-width: 768px) {

    .scene__bg {
        height: 262px;
        background-size: 1300px;
    }

}

@media (min-width: 1300px) {
    .scene__bg {
        height: 445px;
        background-size: 2000px;
    }
}